<link href="/css/dx.light.css" rel="stylesheet" type="text/css">
<script src="/scripts/dx.all.js"></script>
<style>
    .dx-datagrid-nowrap {
        white-space: ;
    }
</style>
<script>
    function deleteProduct(prodId) {
        $("#confirmDelete").attr("data-prodid", prodId);
        var myModal = new bootstrap.Modal(document.getElementById('dvConfirmCommonPopup'), { keyboard: false });
        myModal.show();
    }

    function confirmDeleteProd() {
        $.ajax({
            url: '/siteadmin/deleteprod/' + parseInt($("#confirmDelete").attr("data-prodid")),
            //data:{prodid:$("#confirmDelete").attr("data-prodid")},
            type: 'DELETE',
            success: function (result) {
                console.log(result);
                if (result) {
                    location.reload();
                    $("#confirmDelete").removeAttr("data-prodid");
                }
                // Do something with the result
            }
        });
    }

    $(document).ready(function () {
        $("#orderstatuselect").change(function () {
            var status = this.value;
            //alert(status);
        });
    });
    function gotoAddProdLink() {
        location.href = "/siteadmin/addproduct";
    }

    $(function () {
        $("#orderGrid").dxDataGrid({
            dataSource: {{{ products }}},
        keyExpr: "productId",
        allowColumnResizing: true,
        showBorders: true,
        columnResizingMode: 'nextColumn',
        columnMinWidth: 50,
        columnAutoWidth: true,
        searchPanel: { visible: true },
        allowColumnReordering: false,
        showBorders: true,
        sorting: {
        mode: "multiple" //| "none"
    }, filterRow: {
        visible: true,
        applyFilter: 'auto',
    },
        headerFilter: {
        visible: true,
    },
        columns: [
        {
            dataField: "productTitle",
            caption: "Product",
            cellTemplate(container, options) {
                let divStr = '<div><a href="/product/' + options.data.productId + '" ><img style="height: 130px;" src="/images/' + options.data.productId + '/' + options.data.imagepath + '"/><span style="display: inline-block;margin-left: 20px;font-size: 15px;font-weight: 500;">' + options.data.productTitle + '</span></a></div>';
                $(divStr).appendTo(container);
            }
        },
        {
            dataField: "productDescription",
        },
        {
            dataField: "category"
        },
        {
            dataField: "size",
        },
        {
            dataField: "price"
        },
        {
            dataField: "gender"
        },
        {
            caption: "Action",
            cellTemplate(container, options) {
                let divStr = '<div><strong><span onclick="deleteProduct(' + options.data.productId + ')" style="color: red;cursor: pointer;">Delete</span></strong></div>';
                $(divStr).appendTo(container);
            }
        }]
    });
});
</script>
<div class="container">
    <div><strong>All Product List</strong></div>
    <div class="mt-5">
        <button class="btn btn-outline-primary" onclick="gotoAddProdLink()">Add Product</button>
    </div>
    <div class="dx-viewport">
        <div id="orderGrid"></div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="dvConfirmCommonPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><strong>Delete Product Confirm</strong></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                Are you sure to delete the Product?
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">CANCEL</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirmDelete"
                    onclick="confirmDeleteProd()">YES</button>
            </div>

        </div>
    </div>
</div>