<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hire A Wire - second layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

    {{!--
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"> --}}
    <link href="/css/site.css" rel="stylesheet" type="text/css">


    <script src="/scripts/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="../images/favicon.ico" style="height: 25px;"> <span
                    style="font-family: cursive;font-weight: 800;color: #E53935;">Hire A Wire</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <a class="nav-link" href="/siteadmin/allproducts">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/siteadmin/allorders">Orders</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/siteadmin/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </nav>
    <div class="container-fluid mt-3">
        {{{body}}}
    </div>
</body>

</html>